@using Wiki.Component.Tools.Language.Extended
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Wiki RMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/css/theme-default.css" />
    <link rel="stylesheet" type="text/css"  href="~/Content/css/bootstrap/bootstrap.min.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <div style="text-align: -webkit-center; background: #ffffff; background: rgba(255, 255, 255, 0.1);">
                <img src="~/Content/Images/logo.png" class="img-circle" style="width: 100px;margin-top: 15px;" alt="Wiki RMS">
            </div>
            <div class="login-body">
                <div class="login-title"><strong>Welcome</strong>, Please login</div>
                <form action="@Url.Action()" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-info btn-block">@TranslatorHelper.Translator("LoginBtn")</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2017 RMS
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("About","Home")">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="mailto:wcw510046442@163.com">Contact Us</a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>



